/*****LOGIN AND REGISTRATION*****/
.text-container{
    min-height: 100vh;
    background-image: url(../images/welcome-bg.jpg);
    padding: 2.5rem;
  
    .logo-container{
      margin-bottom: 20vh;
  
      @include media-breakpoint-down(xl){ 
        margin-bottom: 5vh;
      }
    }
  
    @include media-breakpoint-down(xl){ 
        min-height: 10rem;
        padding: 3rem 1.5rem;
    }
}
  
.form-container{
   height: 100vh;
   display: grid;
   place-items: center;
   padding: 2.5rem;
  
   @include media-breakpoint-down(xl){
    height: 100%;
    padding: 3rem 1.5rem;
   }
  
   form{
       max-width: 45rem;
   }
}

/*****HEADER*****/
.top-nav li a{
  border-radius: 0.25rem;
 &:hover{
   background-color: #fff;
   color: $primary !important;
 }
}


/*****TABLES*****/
.table{
  table-layout: fixed;

  thead{
    tr{
      .id{
        width: 10%;
      }
    }
  }

  th,td{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  th{
    font-size: 18px;
  }

  td{
    padding: .7rem 1rem !important;
  }

  td{
    button{
      width: 100% !important;
    }
  }

}

.table.account-settings{

  tr{
    border: none;
  }
  
}