.registration{

    .text-container{
        height: 100vh;
    }

    .form-container{
       height: 100vh;
       display: grid;
       place-items: center;

       form{
           max-width: 50rem;
       }
    }

}